{% extends 'base.html' %}
{% load static  %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'miscss/miperfil.css' %}">


<div class="container">    
  <h2>My Profile</h2>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            </div> 

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-12">

        <center>
              <div class="image-grid-cover cnt-block zoom">
                
                <img src="https://i.pinimg.com/736x/d7/8e/f6/d78ef69e3c0a21be5551612242e3bd9b--portrait-illustrator-vector-vector-portrait.jpg" class="img-responsive">
                <h3><a href="#">Smart Room Admin</a></h3>
                <p>{{ usuario }}</p>
              
              </div>
          
        </center>   
      </div>
    </div>
  </div>
</div>	
           
{% endblock %}
