
<!---- Include the above in your HEAD tag --------->

{% extends 'bootstrap4/bootstrap4.html' %}
{% block bootstrap4_content %}
{% load static  %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sada Team">

    <title> Sada </title> 
     <link rel="stylesheet" type="text/css" href="{% static 'miscss/perfil.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'miscss/dashboard.css' %}">
    
  </head>

  <body>
    <nav class="navbar sticky-top flex-md-nowrap p-0" role='navigation'>
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/miperfil">
        <div class="title">
          <h6>S A D A</h6>
        </div>
      </a>
     
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
      </ul>
    </nav>


      <div class="nav-side-menu">
        <div class="brand">{{ user }}</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">  
            <ul id="menu-content" class="menu-content collapse out">

              <li>
                  <a href="/dashboard">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

              <li>
                  <a href="/classifier">
                  <i class="fa fa-dashboard fa-lg"></i>Clasification Module
                  </a>
                </li>

                <li>
                  <a href="/response">
                  <i class="fa fa-dashboard fa-lg"></i>Response Module
                  </a>
                </li>

                 <li>
                  <a href="/profile">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="/ambient">
                  <i class="fa fa-users fa-lg"></i> Smart Room
                  </a>
                </li>
            </ul>
     </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        
        <main role="main" class="col-md-8 ml-sm-auto col-lg-9 pt-3 px-4">
                   
            {% block content %}
            {% endblock content %}

      </main>        
    </div>
  </div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery</script>
   
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.2/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
<script src="//js.pusher.com/4.0/pusher.min.js"></script>


</html>
{% endblock %}

